#chat {
  position: absolute;
  bottom: 0%;
  left: 50%;
  width: 100vw;
  max-width: 1000px;
  transform: translateX(-50%);
  background-color: white;
  border-radius: 5px;
}

#chat ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow-y: auto;
  overflow-x: wrap;
  height: 300px;
  margin: 0px;
  padding: 5px;
  list-style-type: none;
}

@media only screen and (max-width: 600px) {
  #chat ul{
    height: 100px;
  }
}

#chat .player-name {
  font-weight: bold;
}

.message {
  border-radius: 10px;
  padding: 0px 5px 0px 5px;
  width: 95%;
  margin: 4px auto 3px auto;
}

.player-message {
  background-color: lightgray;
}

.server-message {
  background-color: rgb(161, 217, 255);
}

