#leaderboard {
  width: 100%;
  height: 100%;
  padding: 3px;
  background-color: #424344;
  color: white;
  text-align: center;
  flex-direction: column;
}

.leaderboard {
  &__header {
    width: 100%;
    height: auto;
    padding: 10px;
    border-bottom: solid 2px gray;
    margin-bottom: 20px;
    background-color: rgb(43, 43, 43);
    overflow: hidden;

    &--buttons {
      display: flex;
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap-reverse;
    }
  }
  &__button {
    &--invite {
      background-color: rgb(94, 94, 94);
      border-radius: 5px;
      color: white;
      height: 1.875rem;
      overflow: hidden;
    }
    &--help {
      border-radius: 5px;
      height: 1.875rem;
    }
    &--settings {
      margin: .625em;
      border-radius: 5px;
      width: 30vw;
      height: 2em;
      background-image: url("/settings.svg");
      background-repeat: no-repeat;

    }
  }

  &__info {
    &--unflipped {
      font-size: 0.5em;
    }
  }

  &__players {
    overflow-y: auto;
    height: 100%;
    display: flex;
    &--header {
      margin: 0;
    }
    &--words {
      width: 100%;
      height: 100%;
      display: flex;
      flex-wrap: wrap;
      overflow-y: auto;
      justify-content: space-around;
      background-color: rgb(94, 94, 94);
      border: solid 2px gray;
      border-radius: 10px;
      padding: 10px;
    }
    &--container {
      height: 65vh;
    }
  }
}

$colors: #9e080840, #80089e40, #081b9e40, #089e9040, #0b9e0840, #9e990840, #9e4d0840;

.player {
  margin-bottom: 0.2em;
  height: fit-content;
  border-radius: 10px;
  &__header {
    &--name {
      color: white;
      font-size: 20px;
      font-weight: bold;
      max-width: 40vw;
      overflow: hidden;
      margin: auto;
    }
    &--score {
      font-style: italic;
      font-size: 0.8em;
      margin: 0 1em 0 1em;
    }
  }
  &__words {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 10px;
  }
}

@for $i from 1 through length($colors){
  .player:nth-child(#{length($colors)}n+#{$i}) {
    
    background: nth($colors, $i);
  }
}

@media screen and (max-width: 500px) {
  #leaderboard {
    overflow-y: auto;
  }

  .leaderboard {
    &__header {
      min-height: 0;
    }
    &__players {
      &--words {
        height: 40vh;
      }
    }
  }
}