#room {
  width: 100vw;
  height: 100vh;
  background-color: rgb(24, 24, 24);
  overflow: hidden;
  overscroll-behavior: none;
}

.panel {
  &--right {
    position: absolute;
    right: 0%;
    width: 80vw;

  }
  &--left {
    position: absolute;
    left: 0%;
    width: 20vw;
  }
}


#letters--container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
  align-content: flex-start;
  overflow: auto;
  width: 90%;
  height: 100vh;
  max-width: 600px;
  max-height: calc(100% - 433px);
  padding-top: 15px;
  margin: auto;
}

@media screen and (max-width: 600px), screen and (max-height: 900px) {
  #letters--container {
    max-height: calc(100% - 305px);
  }

  .panel {
  &--right {
    position: absolute;
    right: 0%;
    width: 70vw;

  }
  &--left {
    position: absolute;
    left: 0%;
    width: 30vw;
  }
}
}

#letters--container::-webkit-scrollbar {
  display: none;
}

.loading {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  width: 30vw;
}

.loading h3 {
  width: 100%;
  font-size: 2vw;
  text-align: center;
  position: fixed;
  bottom: 17%;
}

.loader {
  width: 30vw;
  height: auto;
}