#loading {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  width: 30vw;
}

#loading h3 {
  width: 100%;
  font-size: 2vw;
  text-align: center;
  position: fixed;
  bottom: 17%;
}

#loader {
  width: 30vw;
  height: auto;
}