#play-menu {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  padding: 20px 30px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  text-align: center;
}

.menu-button {
  margin-top: 10px;
}

.button--link {
  &:not(:first-child) {
    margin-left: 5px;
  }
}


.hidden {
  visibility: hidden;
  display: none;
}

.title {
  font-family: 'Junior Bold';
  color: rgb(67, 67, 67);
}

.radio-form {
  display: flex;
}

.inline-label {
  margin-left: 2px;
  margin-right: 10px;
}

.modal {
  padding: 20px 30px;
  background-color: white;
  align-items: center;
  border-radius: 5px;
  text-align: center;
}